   <nav class="w-full bg-white border h-16 flex justify-between ">
        <div class="w-full lg:w-30/6 xl:w-full  h-full flex items-center px-4 ">
           
                <h1 class="text-xl font-bold text-blue-800">SMS PRANK</h1>
            
        </div>
     
        <div class="w-full  h-full flex justify-end space-x-2 items-center">
				
		<button class=" xl:flex h-10 w-12 xl:w-12  rounded-full flex bg-white hover:bg-gray-200 text-gray-700 text-lg font-semibold">
			<div style="padding-top: 11px;" class="h-6 w-8 mx-2 flex items-center">
			   
				<a href="https://github.com/sahilnetic/smsprank"><img class="rounded-full" src="/static/github.png"></a>
				 </div>
		</button>

        </div>
</div>
</nav>